*{
    padding: 0;
    margin: 0;
}
body,html{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px;
}
.quadrados{
    background-color: rgb(35, 116, 196);
    border: 1px solid black;
    width: 100px;
    height: 100px;
    animation: mover 5s linear infinite;
}

@keyframes mover {
    0% {
        transform: translateX(0); 
    }
    33% { 
        transform: translateX(300px); 
    }
    66%{
        transform: translateX(-300px); 
    }
    100%{
        transform: translateX(0); 
    }
  }
  
